.no-data{
	height: 200px;
    width: 200px;
    margin: 0px auto;
    position: absolute;
    margin: -20px 0 0 -20px;
    border: 2px solid #fff;
    border-top: 2px solid #24B498;
    border-radius: 100%;
	content:url('../img/custom/no-results.png');
}

form label .required:after{
	content:" *";
	color: red;
	display: inline;
}

.messages {
    margin: 10px;
    padding: 10px;
}